<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>
    <style>
        table {
            width: 80%;
            margin: 0 auto;
            border-collapse: collapse;
        }

        th, td {
            padding: 10px;
            text-align: center;
            border: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
<h1 style="text-align: center;">Search Results</h1>
<table>
    <thead>
    <tr>
        <th>ISBN</th>
        <th>Title</th>
        <th>Author</th>
        <th>Quantity</th>
        <th>Location</th>
    </tr>
    </thead>
    <tbody>
    {{#each books}}
        <tr>
            <td>{{this.isbn}}</td>
            <td>{{this.title}}</td>
            <td>{{this.author}}</td>
            <td>{{this.quantity}}</td>
            <td>{{this.location}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>
</body>
</html>
