<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Book</title>
</head>
<body>
<h1>Update Book</h1>
<form action="/book/update" method="POST">
    {{#each book}}
        <input type="hidden" name="id" value="{{this.id}}">
        <label for="title">Title:</label>
        <input type="text" name="title" id="title" value="{{this.title}}"><br>
        <label for="author">Author:</label>
        <input type="text" name="author" id="author" value="{{this.author}}"><br>
        <label for="quantity">Quantity:</label>
        <input type="number" name="quantity" id="quantity" value="{{this.quantity}}"><br>
        <label for="location">Location:</label>
        <input type="text" name="location" id="location" value="{{this.location}}"><br>
    {{/each}}
    <button type="submit">Update</button>
</form>
</body>
</html>
